*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.a1{

}
a2{
    display:flex;
    justify-content:space-between;


}
.position{
    margin: 0 200px 0;
    height: 75px;
    display:flex;
    justify-content:space-between;
    font-family: Arial,sans-serif;
    padding-top: 50px;
}
.position2{
    margin: 0 200px 0;
    height: 80px;
    display:flex;
    justify-content:center;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #83b1ff;

}
#b3{
    border-bottom: 3px solid deepskyblue;
    margin-top: 20px;
}
#b4{
    margin: 0 200px 0;
    border: 2px solid grey;
    height: 800px;
}
#b5{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 150px;
    width: 125px;
    height: 355px;
}
.b1{
    border-bottom: 3px solid gray;
    position: relative;
    width: 200px;
    left:525px;
    bottom:300px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
.b6{
    position: relative;
    width: 200px;
    left:525px;
    bottom:300px;
    margin: 5px;
    font-size: 15px;
}

#b8{
    border-bottom: 3px solid gray;
    position: relative;
    width: 500px;
    bottom: 200px;
    margin-left: 250px;
    font-size: 20px;
    font-weight: bold;
}
.b7{
    position: relative;
    width: 500px;
    left:250px;
    bottom:200px;
    font-size: 20px;
    font-weight:normal;
}
.margin{
    margin: 0 200px 0;
}
.position-item2{
    margin: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 81, 120, 0.25);
    width: 100px;
    height: 100px;
    border: 2px solid magenta;
    position: relative;
    left:200px;
    bottom:920px;
    border-radius: 100px;

}




